TIMEZONE=Europe/Moscow
LOG_TIME_FORMAT=15:04:05 02.01.2006

PORT=8080

DATABASE_URL=postgres://postgres:password@db:5435/semesterly?sslmode=disable
DB_NAME=semesterly
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db

DB_MAX_RETRIES=10
DB_RETRY_INTERVAL=1
